.tabRoot {
    -fx-padding: 5px;
    -fx-spacing: 5px;
}
#seatingChartTop {
    -fx-spacing: 5px;
    -fx-alignment: center-left;
}
#seatingChart {
    -fx-background-color: black;
    -fx-vgap: 1px;
    -fx-hgap: 1px;
    -fx-padding: 1px;
}
.chartCell {
    -fx-background-color: white;
    -fx-padding: 2px;
}
#lineupRoot {
    -fx-pref-height: 100%;
}
#lineupBox {
    -fx-background-color: #444;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-spacing: 1px;

}
#lineupTop {
    -fx-background-color: #ddd;
    -fx-padding: 5px;
}
#lineupBottom {
    -fx-background-color: #eee;
}
#lineupBottom > ScrollPane {
    -fx-padding: 5px;
}
.transparent {
    -fx-background-color: transparent;
}
/* Apparently this is how you set the background of a scroll pane, according to:
   https://forums.oracle.com/ords/apexds/post/css-styling-of-scrollpanes-broken-in-javafx-8-3855 */
.transparent.scroll-pane > .viewport  {
    -fx-background-color: transparent;
}