#instructions-container, #buttons-container {
    -fx-alignment: center;
}

#buttons-container {
    -fx-spacing: 5px;
}

#bottom-bar {
    -fx-border-color: black ;
    -fx-border-width: 1 0 0 0 ;
    -fx-border-style: solid;
}

.goodButton {
    -fx-background-color: #0096C9;
    -fx-text-fill: white;
}
