#instructions-container, #buttons-container {
    -fx-alignment: center-left;
}

#buttons-container {
    -fx-spacing: 5px;
}

#bottom-bar {
    -fx-border-color: black ;
    -fx-border-width: 1 0 0 0 ;
    -fx-border-style: solid;
    -fx-padding: 5px;
}

Button {
    -fx-cursor: hand;
}

.goodButton {
    -fx-background-color: #0096C9;
    -fx-text-fill: white;
}

HyperText {
    -fx-fill: #0095C8;
    -fx-underline: true;
    -fx-cursor: hand;
}

HyperText:visited {
    -fx-fill: #551A8B;
}

HyperText:armed {
    -fx-fill: red;
}
