#startInstructions {
    -fx-background-color: #eee;
    -fx-font-family: "Helvetica";
}

#startInstructions {
    -fx-alignment: center;
}

#startInstructions > TextFlow {
    -fx-text-alignment: center;
}

#startInstructions Text {
    -fx-fill: #333;
}

/*.center
    -fx-text-alignment: center;*/